<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca de videojuegos</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<main>
    <h1>Biblioteca de juegos</h1>
    <nav>
        <a th:each="plataforma : ${plataformas}"
           th:href="@{/plataforma/{platform}(platform=${plataforma})}"
           th:text="${plataforma}">
        </a>
    </nav>
    <ul class="games-grid">
        <li class="game-card" th:each="juego : ${videojuegos}">
            <a th:href="@{/juego/{id}(id=${juego.id})}" th:text="${juego.title}"></a>
        </li>
    </ul>
</main>
</body>
</html>