<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mi primera web con SpringBoot</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<main>
    <h1>Biblioteca de juegos</h1>
    <nav>
        <a th:href="@{/plataforma/PC}">PC</a>
        <a th:href="@{/plataforma/PlayStation 4}">Play Station 4</a>
        <a th:href="@{/plataforma/Nintendo Switch}">Nintendo Switch</a>
        <a th:href="@{/plataforma/Xbox Series X}">XBox Series X</a>
        <a th:href="@{/plataforma/Nintendo 64}">Nintendo 64</a>
        <a th:href="@{/plataforma/Super Nintendo}">Super Nintendo</a>
        <a th:href="@{/plataforma/Sega Genesis}">Sega Genesis</a>
    </nav>
    <ul class="games-grid">
        <li class="game-card" th:each="juego : ${videojuegos}">
            <a th:href="@{/juego/{id}(id=${juego.id})}" th:text="${juego.title}"></a>
        </li>
    </ul>
</main>
</body>
</html>