<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juegos de <span th:text="${plataforma}"></span></title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<main>
    <h1>Biblioteca de juegos</h1>
    <nav>
        <a th:each="plataforma : ${plataformas}"
           th:href="@{/plataforma/{platform}(platform=${plataforma})}"
           th:text="${plataforma}">
        </a>
    </nav>
    <h1><span th:text="${plataforma}"></span></h1>
        <ul class="games-grid" th:if="${!#lists.isEmpty(videojuegos)}">
        <li class="game-card" th:each="juego : ${videojuegos}">
            <a th:href="@{/juego/{id}(id=${juego.id})}" th:text="${juego.title}"></a>
        </li>
    </ul>

    <p class="message" th:if="${#lists.isEmpty(videojuegos)}">
        No hay juegos disponibles para esta plataforma.
    </p>
    <nav>
        <a th:href="@{/}">Volver al inicio</a>
    </nav>
</main>
</body>
</html>